* {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

.headerWrapper {
    align-items: center;
    max-height: 150px;
    justify-content: space-between;
}

.mainLogo {
    max-width: 100px;
}